
body {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    background-color: rgb(188, 158, 256);
    
}
.age-calculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255,255, 0.2);
    backdrop-filter: blur (50px);
    box-shadow: 0px 0px 10x rgba(0, 0, 0, 0.4   );
    display: flex;
    padding: 20px;
    border-radius: 10px;
 align-items: center;
    flex-direction: column;

}
h2 {
    font-size: 35;
    margin: 20px;

}
label {
    display: block;
    margin-block-end: 10px;
    font-size: 20;
}
input[type ="date"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 10px solid #ccc;
    width: 400px;
    margin-bottom: 20px;
}
button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color:#fff00d;
    color: #ffff ;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
button:hover {
    background-color: #0d8f40; 
}
.result {
    margin-top: 20px;
    font-size: 18 px;
}